<div class="container-fluid container-fluidenhance bgcolorwhite">
	<div class= "headertext row">    
	    <div class="typewriter col-sm-6 headingallign">
			<h2 class="portfolioheading">{{Hello}}{{blinkingSymbol}}</h2>
	    	<hr>
			<address>
        		<strong>Pant Niwas </strong><br>Bank Road <br>Siltham Pithoragarh, Uttarakhand<br>Work: Bangalore<br>Email Id - <a href="mailto:hrshtpnt@gmail.com">hrshtpnt@gmail.com</a>
    		</address>
    		<!-- professional profile -->
    		<div class="profile">
        		<h4 class="headingportfolio"></br>PROFESSIONAL PROFILE</h4><hr>
        		<div class="woo-sc-quote">
        			<p>“A committed and driven Engineer with a sound understanding of Python Programming and Web Development with good communication and planning skills to deliver project within set time frames and to a high quality standard.”</p>
        		</div>
  			</div> 
		</div>
		<div class="col-sm-6 profileimage pull-right">
    		<img src='assests/images/profilepic.jpg' class="img-responsive profileshape" alt="responsive image">
    	</div>
    </div>
	<br />
	        <!-- Graduate Projects -->
	    <div class="projects">
	    	<h4 class="headingportfolio">PROJECTS</h4>
	    	<br />
	    	<h5>CISCO POLARIS WEBUI</h5>
	    	<hr>
	    	<p>Currently working in the development of the latest version of Polaris Webui, It is an embedded device-manager that is available on the router flash memory. Using the features of Angular JS, Lua and Kendo UI, we have not only tried to make it user-friendly and faster, but also responsive.</p>
	    	<img src="assests/images/polaris.png" class="img-responsive porfoliolargeimages" alt="polaris image">
	    	<hr>
	    	<h5>CISCO CONFIGURATION PROFESSIONAL EXPRESS</h5>
	    	<hr>
	    	<p>Cisco CP Express, a lightweight version of Cisco Configuration Professional, is an embedded device-manager that is available on the router flash memory. It can be used to configure some of the LAN and WAN interfaces and basic configurations of the router to bootstrap the router.</p>
	    	<p>Administrators use the Cisco CP Express Admin View for router administrative tasks such as setting up WAN uplinks, creating Virtual Local Area Networks (VLAN), IP routes, users, Dynamic Host Configuration Protocol (DHCP), and so on.</p>
	    	<img src="assests/images/ccpexp.png" class="img-responsive porfoliolargeimages" alt="ccpexp image">
	    	<hr>
	        <h5>GRADUATE PROJECT: WIRELESS TRAIN TRACKING AND LABOUR PROTECTION SYSTEM</h5>
	        <hr>
	        <p>WIRELESS TRAIN TRACKING AND LABOUR PROTECTION SYSTEM demostrated the idea of  wireless train tracking and thus aiding in saving labors life working on live train tracks. Designed hardware based model of the Transmitter sends the required information and a Receiver circuit that receives the data from  the transmitter and calculates the minimum time in which the train will arrive at the site area.</p><br />
	    </div>
	    <br />
	        <!-- associated exp -->
	    <div class ="exp">
	    	<h4 class="headingportfolio">WORK EXPERIENCE</h4>
	    	<hr>
	    	<div id="wipro">
	    		<h5><a href="https://www.wipro.com">Wipro Limited</a></h5>
	    		<div  class="header" style="FLOAT:right;">
	            	<img src="https://qph.fs.quoracdn.net/main-qimg-a5ab8140cf60c3be5caf2f51c7d4cb0f" class="img-responsive pull-right" alt="Responsive image" style="height:100px; width:180px;"><p class="pull-right">
	             	<p>26 Dec 2016 to Current Date</p>
	            </div>
	            <b>Currently working for CISCO in the following projects:</b>
	            <ul>
	                <li>Polaris Webui for CISCO</li>
	                <li>CCP Express for CISCO</li>
	            </ul>
	            <b>Programming Tools:</b>
	            <ul>    
	            	<li>Angular JS, Jquery, JavaScript, Kendo UI, HTML, CSS</li>
	            	<li>Lua</li>
	            	<li>GIT, Clearcase</li>
	            	<li>Apache Ant, Nginx</li>
	            </ul>
	    	</div>
	        <h4 class="headingportfolio">ASSOCIATED EXPERIENCE</h4>
	        <hr>
	        <!-- schneider exp -->
	        <div id="schneider">
	          <h5><a href="https://www.schneider-electric.co.in/en/">Internship,Schneider Electric</a></h5>
	          <div  class="header" style="FLOAT:right;">
	             <img src="https://columbiabusinesstimes.com/wp-content/uploads/2016/04/Schneider-electric.jpg" class="img-responsive pull-right" alt="Responsive image" style="height:100px; width:180px;"><p class="pull-right">
	             <p>8 Jun 2015 to 7 Aug 2015 </p>
	            </div>
	            <b>Worked in multiple projects:</b>
	            <ul>
	                <li>Data Concentrator for HT Switchgear 3X660MW</li>
	                <li>SAS for Extension of 400kV HOSUR substation</li>
	                <li>SAS for DMRC Faridabad</li>
	            </ul>
	            <b>Tools:</b>
	            <ul>    
	            <li>PACiS SCE – System Configuration Editor</li>
	            <li>PaCiS ECOSUI  and PACiS CAT – Computer Administrarion Tools</li>
	            </ul>
	        </div>
	        <hr>
	                        <!-- samsung exp -->
	        <div id="samsung">
	        <div  class="header" style="FLOAT:right;">
	            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxRL3dkk1AiQZ3gq-UH1qFMN7P-xCO1_oBHVGAinhffa937BYQ" class="img-responsive pull-right" alt="Responsive image" style="height:100px; width:180px;">
	            <p>1 Jun 2014  to 30 Jun 2014</p>
	        </div>
	            <h5><a href="https://www.samsungengineering.com/" >Internship,Zero Point Engineering Pvt. Ltd.(Samsung Engineering)</a></h5>                     
	            <p>I Worked as a member of Design Instrumentation and Industrial Automation team. Prepared the Instrumentation Index while working in a live Project.</p><br>
	        </div>
	        <br />
	        <!-- other exp -->
	        <br />
	        <div id="otherexp">
	        <h4 class="headingportfolio">OTHER EXPERIENCE</h4>
	        <hr>
	         <div class="header" style="float:right; clear:left;">
	            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT-PPPZrY2Y_aAvPl5eeNZJEJOS-lEdWo12XBj8tL0slhciwxgjOubjZz0T" class="img-responsive" alt="Responsive image" ><p>21 Aug 2014 to 1 Oct 2014</p>
	        </div>
	            <h5><a href="https://www.cetpainfotech.com/summer/summer_trg_detail.aspx" >Training,CETPA INFOTECH PVT. LTD.</a></h5>                     
	        <p>Successfully completed Six Weeks Summer Training on “PLC and SCADA”</p>
	        </div><br />
	        <div id=keyskills>
	        	<h4 class="headingportfolio">KEY SKILLS</h4>
	            <table class = "table table-condensed">
	                <tbody>
	                    <tr>
	                        <th>Programming Languages:</th>
	                        <td> Python, C++, lua </td>
	                    </tr>
	                    <tr> 
	                        <th>Web Technologies:</th> 
	                        <td> RESTful Web Services, HTML, CSS, Javascript, AngularJS, Jquery, Bootstrap, Material Design, Apache, Nginx</td>
	                    </tr>
	                     <tr> 
	                        <th>Version Control:</th> 
	                        <td> GIT </td>
	                    </tr>
	                    <tr>
	                    	<th>Database:</th>
	                    	<td>MySQL</td>
	                    </tr>
	                </tbody>
	        	</table>
		    </div>
		    <br /> 
		    <div class="education">
		        <h4 class="headingportfolio">EDUCATION AND QUALIFICATION</h4>
		        <table class="table table-condensed">
		            <tbody>
		                <tr>
		                    <th>BTech</th>
		                    <td>with 72% in Instrumentation And Control Engineering(Abdul Kalam Technical Education (AKTU/UPTU)) 2016</td>
		                </tr>
		                <tr>
		                    <th>Senior Secondary</th>
		                    <td>75.6% with Maths and Computers</td>
		                </tr>
		                <tr>
		                    <th>High School</th>
		                    <td>8.6 CGPA with a 10 CGPA in Maths</td> 
		                </tr>
		            </tbody>
		        </table>
		    </div>
		    <br />
		    <div id ="achievements">
	        <h4 class="headingportfolio">ACHIEVEMENTS</h4>
	     	<hr />
	            <ul>
	                <li>Placed in <b>Wipro Technology</b> through Campus Selection.</li>
	                <li><b>Achieved letter of recommendation </b>from Zero Point Engineering Pvt. Ltd. which is a sub-contractor of Samsung Engineering which is engaged in the field of hydro carbon and power projects execution in Turkey.</li>
	            </ul><br>
	        </div>
	        <h4 class="headingportfolio">INTERESTS INCLUDE</h4>
	        <hr>
	            <ul class="list-inline">
	                <li>Playing Table Tennis,</li>
	                <li>Exercising,</li>
	                <li>Computing,</li>
	                <li>Socializing</li>
	            </ul>
	</div>
</div><br />
<br />
<div class="panel-default footertext">
	<div class="panel-footer footerdesign" align="center">&copy; Harshit Pant All rights reserved.</div>
</div>
